.main_container {
    display:flex;
    flex-direction: column; 
}

.device_container {
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 20px gray;
    width:min(90vw, 40em);
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto;
}

.device_info {
    display: grid;
    grid-template-rows: 1.2em 1.3em 2.4em auto;
}

.device_name {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.time_container {
    display: flex;
    flex-direction: column;
    flex-flow: column;
}

.device_last {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.device_ago {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
}

/* misc */
.status_indicator_container {
    display:inline-block;
}
.status_indicator {
    margin-top:-11px;
    width:0.6em;
    height:0.6em;
    border-radius: 0.3em;
    background-color: red;
}