.main_container {
    display:flex;
    flex-direction: column; 
}

.device_container {
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 20px gray;
    width:min(90vw, 40em);
    padding: 10px;
    display: grid;
}

/* DEVICE INFO */

.device_info {
    display: grid;
    grid-template-rows: 1.2em 1.3em 2.4em auto;
}

/* status indicator */

.status_indicator_container {
    display:inline-block;
}

.status_indicator {
    margin-top:-11px;
    width:0.6em;
    height:0.6em;
    border-radius: 0.3em;
    background-color: red;
}

/* device name */

.device_name {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

/* time stuff */

.time_container {
    display: flex;
    flex-direction: column;
    flex-flow: column;
}

.device_last {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.device_ago {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
}

/* widget selector */

.widget_selector {
    min-height: 2em;
    display:flex;
    text-align:center;
    align-items: center;
    justify-content: space-evenly;
}

/* WIDGET STUFF */

.device_widget {
    height:25vh;
    margin-left:10px;
    padding:10px;
    background-color: #eeeeee;
}

/* pinglog widget */

.device_widget_pinglog {
    overflow: scroll;
}

/* wakeup widget */

.device_widget_wakeup {
    overflow: scroll;
    height: calc(25vh + 10px);
    padding:5px;
    display: grid;
    grid-auto-rows: max(calc(9vh + 2*5px + 2*5px), 3em);
    grid-template-columns: 1fr 1fr;
}

.device_widget_wakeup_device_container {
    /* width:100%; */
    padding:5px;
}

.device_widget_wakeup_device {
    box-shadow: 1px 1px 20px lightgray;
    background-color: white;
    border-radius: 5px;
    padding:5px;
    height:70px;

    display:grid;
    grid-template-rows: auto 1fr;
}

.device_widget_wakeup_device_title {

}

.device_widget_wakeup_device_button_container {
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

.device_widget_wakeup_device_name{
    font-family: 'Lato', sans-serif;
}